.env
.venv
.venv/
venv
venv/
__pycache__
RESOURCES
RESOURCES/
info.txt

# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
.env/

# Python packaging
*.egg-info/
dist/
build/
*.egg

# pytest
.pytest_cache/

# VSCode
.vscode/

# Docker
.docker/

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Database files (if applicable)
*.sqlite3
*.db

# Alembic migrations folder
alembic/versions/

# Environment variables
.env

# Dependency directories
node_modules/

# Alembic configuration
# alembic.ini


commands.txt

backup.sql

# Python (FastAPI)
__pycache__/
*.py[cod]
*.env
*.sqlite3
*.log
*.db
*.pem
*.pyc
instance/
.env
*.egg-info/
dist/
build/

# PostgreSQL
*.sql
*.dump
pgdata/

# Node.js (Next.js)
node_modules/
.next/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Nginx
nginx/logs/
nginx/cache/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace 

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
